<%- include('./includes/homeHead') %>
  <div class="section-1">
    <h1 class="section-1-titulo h1-admin">Editar Usuário</h1>
    <a class="section-1-link a-return" href="/usuarios">
      <button>Voltar</button>
    </a>
  </div>
  <form class="form-admin" action="/usuarios/edit/<%- usuario._id %>" method="POST">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <div class="container-nome">
      <label for="nome">Nome</label>
      <input value="<%= usuario.nome %>" type="text" name="nome" id="nome" placeholder="Digite o nome do usuário RFID">
    </div>
    <div class="container-tag">
      <label for="tag">Tag</label>
      <input value="<%= usuario.tag %>" type="text" name="tag" id="tag" placeholder="Digite a tag RFID do usuário">
    </div>
    <button type="submit">Editar</button>
  </form>
  <%- include('./includes/alertMessages') %>
  <script src="/assets/js/formScript.js"></script>
    <script>
      let validaForm = new formValidar({
        form: '.form-admin',
        inputs:{
          nome: '#nome',
          tag: '#tag'
        }
      })
    </script>
<%- include('./includes/homeFoot') %>